$grey: #ebebeb
$white: #fff
$darkGrey: #9b9b9b
$green: #00BB6D
// Text
$blackText: #001515
$whiteText: #fff
$greyText: #818DA2
$greenText: #00BB6D
// Button
$greyButton: #ebebeb
$greenButton: #00BB6D

