.about-breafly
	&__item
		&--inner
			display: inline-flex
			justify-content: center
			align-items: center
			padding: 30px
			min-height: 228px
			width: 100%
			text-align: center
			background-color: rgba(82, 98, 125, 0.8)

			.far, .fas
				color: $greenText
				font-size: 60px
			p
				color: $greyText


@media only screen and (min-width: 768px)		
	.about-breafly
		display: flex
		flex-wrap: wrap
		overflow: hidden
		&__item
			flex-basis: 50%
			&:nth-child(even)
				text-align: right
				position: relative
			&:first-child, &:nth-child(2)
				.about-breafly
					&__item
						&--inner
							margin-top: 0px
							
			&:nth-child(1)
				position: relative
				&:after
					content: ''
					position: absolute
					right: 0
					top: 0
					bottom: 12px
					// width: 1px
					border-left: 1px solid $darkGrey
			&:nth-child(2)
				position: relative
				&:before
					content: ''
					position: absolute
					bottom: 30px
					left: 30px
					right: 0
					// height: 1px
					border-top: 1px solid $darkGrey
			&:nth-child(3)
				position: relative
				&:before
					content: ''
					position: absolute
					top: 30px
					left: 0
					right: 30px
					// height: 1px
					border-top: 1px solid $darkGrey
				&:after
					content: ''
					position: absolute
					right: 0
					top: 48
					bottom: 12px
					// width: 1px
					border-left: 1px solid $darkGrey

span.about-breafly__item--inner__decor
	position: absolute
	right: 0
	top: 30px
	width: 15px
	height: 15px
	background-color: $green
	transform: translate(50%, -50%)


			


@media only screen and (min-width: 1200px)	and (min-width: 768px)		
	.about-breafly
		&__item
			&--inner
				max-width: calc(100% - 60px / 2)
				margin-top: 60px

			&:nth-child(1)
				&:after
					bottom: -12px
			&:nth-child(2)
				&:before
					bottom: -30px
			&:nth-child(3)
				&:before
					top: 30px
				&:after
					top: 48px
					bottom: -12px
		
				
.about-unit
	padding: 30px
	background-color: rgba(82, 98, 125, 0.8)
	width: 100%
	max-width: 100%
	>p
		margin-top: 18px	
	&__quote
		margin-top: 30px
		&__body
			margin-top: 20px
			width: 100%
			max-width: 100%
			>p
				margin-top: 5px
			&__content
				margin-top: 20px
				display: flex
				align-items: flex-start
				&__icon
					color: $white
					.fas
						font-size: 30px
				&__text
					margin-left: 15px
					font-style: italic
					color: $greyText
					transform: translateY(-5px)

.about-unit__quote__body__divider
	margin-top: 20px
	width: 100%
	border-top: 1px solid $darkGrey


@media only screen and (min-width: 1200px)
	.about-unit
		margin-left: 30px
		padding: 30px

@media only screen and (min-width: 768px)
	.about-unit
		&__quote
			display: flex
			align-items: center
			&__img
				flex-shrink: 0
			&__body
				margin-top: 0px
				margin-left: 30px
				width: 100%
				max-width: 100%